* text=auto
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.bmp binary
*.exe binary
*.dll binary
*.pak binary
*.dat binary
*.ttf binary
*.woff binary
*.woff2 binary
*.asar binary
*.blockmap binary
